.navbar {
	border-radius: 0px 0px 0px 0px;
}

.navbar-brand {
	font-family: 'Permanent Marker', cursive;
}

.container {
	padding-top: 50px;
	padding-bottom: 0px;
}

.well {
	border-radius: 40px 0px 40px 0px;
	border: 2px dashed #aabbaa;
}

#base_head {
	padding-top: 150px;
	font-family: 'Reenie Beanie', cursive;
	font-size: 50px;
}

body {
   background-image: url("http://www2.lanecove.nsw.gov.au/mobileapp/Content/images/backgrounds/bg.jpg");
   background-color: #cccccc;
   background-repeat: round;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

#calendar-cont {
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 0%;
}

#left_box {
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 0%;
}