<p> Welcome {{id}} to your course page </p>

{% block content %}

  Other deadlines for students in this course : 
  <br>

  {% for deadline,count in Other_deadlines%}
    {{  deadline.id }} {{ deadline.name }} {{ deadline.date }} {{ count }}
    <br>
  {% endfor %}

  <br><br>

  deadlines for students in this course : <br>
  {% for deadline in Course_deadlines %}
    {{  deadline.id }} {{ deadline.name }} {{ deadline.date }}
    <br>
  {% endfor %}

  <br><br>
  Students enrolled in this course : 

  
  {% for student in Enrolled_students %}
    {{ student.id }} {{ student.name }}
    <br>
  {% endfor %}

  {% if error_msg %}{{error_msg}}{% endif %}

  <br><br>
  <form action="{% url 'register_student' course_id %}" method="post">
    {% csrf_token %}
    <label> Student ID </label>
    <input type="text" name="student_id"><br>
    <button type="submit">Register!!!!</button>
  </form>

  <br>
  <br>

  <form action="{% url 'deregister_student' course_id %}" method="post">
    {% csrf_token %}
    <label> Student ID </label>
    <input type="text" name="student_id"><br>
    <button type="submit">Deregister!!!!</button>
  </form>

  <br>
  <br>
  
  <form action="{% url 'add_deadline' course_id %}" method="post">
    {% csrf_token %}
    <label> Date </label>
    <input type="date" name="date"><br>
    <label> Name </label>
    <input type="text" name="name"><br>
    <label> Comments </label>
    <input type="text" name="comments"><br>

    <button type="submit">Set course deadline!!!!</button>
  </form>





{% endblock %}
