{% extends 'surol/base.html' %}

{% block extended_body %}
<div class="container">
	<div class="row">

	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" id="base_head" align="center">
			Synchronized User Routine OnLine
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<div class="container" align="center">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="well well-md">
				<form action="#" method="get">
					<div class="form-group">
						<a href="/accounts/login" class="btn btn-primary btn-lg">
							<span class="glyphicon glyphicon-log-in"></span> Login
		        		</a>
					</div>
					<div class="form-group">
						<a href="/surol/signup" class="btn btn-default btn-lg">
							<span class="glyphicon glyphicon-user"></span> SignUp
		        		</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}