{% extends 'surol/base.html' %}

{% block extended_body %}
<div class="container-fluid" style="padding-top: 170px; margin-left: 0%; margin-bottom: 2%;">
  <h2 style="font-family: 'Gloria Hallelujah', cursive; font-size: 200%;"> <strong> Welcome {{ Student_info.name }} </strong> </h2>
  <h3 style="font-family: 'Rajdhani', sans-serif; font-size: 200%;"><strong> ID: {{request.user.username}}</strong> </h3>
  <h3 style="font-family: 'Rajdhani', sans-serif; font-size: 200%;"><strong> Dept: {{Student_info.dept_name}}</strong></h3>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">  

<div class="panel panel-default" id="left_box">
  <div class="panel-heading"><h3>Registered Courses</h3></div>
  <div class="panel-body">
  {% for registers in Registers%}
    <div>
    <h4>
       {{ registers.course.name }}
    </h4>
  </div>
  {% endfor %}
  {% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}
  {% if success_msg %}<p><strong>{{ success_msg }}</strong></p>{% endif %}
</div>
</div>


  <div class="panel panel-default" id="calendar-cont">
    <div class="panel-heading"><h3>Your calendar</h3></div>
    <div class="panel-body">


    {% for ddate,dname,dcomments,dtype,did  in Deadlines %}
    <div class="row row-striped">
       <div class="col-md-10 text-left">
        <h4 class="text-uppercase"><strong>{{dname}}</strong></h4>
        {% if dtype != "Personal" %}
          <p><i>{{dtype}}</i></p>
        {% endif %}
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ddate|date:"l"}}</li>
          <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ddate|date:"P"}}</li>
        </ul>
        <p> {{dcomments}}</p>
      </div>
      <div class="col-md-2 text-right">
        {% if dtype == "Personal" %}
          <a href="{% url 'remove_pdeadline' id did %}">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        {% endif %}
        <h1 class="display-4"><span class="label label-default">{{ddate|date:"d"}}</span></h1>
        <h3>{{ddate|date:"N"}}</h3>
      </div>  
    </div>
    {% endfor %}

  </div>
</div>

<!-- Add Personal Deadline Modal -->
<div id="add_pers_dl_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
       <form class="form-horizontal" action="{% url 'studenthome' %}" method="post">
          {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Personal Deadline</h4>
      </div>
      <div class="modal-body">
       
          <div class="form-group">
            <label class="control-label col-sm-2" for="date"> DateTime: </label>
            <div class="col-sm-10"><input type="datetime-local" class="form-control" name="date" id="dtfield"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="name"> Name: </label>
            <div class="col-sm-10"><input type="text" class="form-control" name="name"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="comments"> Comments: </label>
            <div class="col-sm-10"><input type="text" class="form-control" name="comments"></div>
          </div>
         
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Set deadline </button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close </button>
      </div>
      </form>
  </div>
  
  </div>
</div>

<!-- <script type="text/javascript">
    var today = new Date(Date.now());
    console.log(today.toISOString().substr(0,23));
    document.getElementById("dtfield").setAttribute("min", today.toISOString().substr(0,23));
</script> -->
{% endblock %}

{% block extended_nav %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#" data-toggle="modal" data-target="#add_pers_dl_modal"> <span class="glyphicon glyphicon-plus"> </span> Add Deadline </a></li>
</ul>
{% endblock %}